<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SocketUrl" value="wss://socket.etherdelta.com/socket.io/?transport=websocket" />
    <add key="Provider" value="https://mainnet.infura.io/Ky03pelFIxoZdAUsr82w"/>
    <add key="AddressEtherDelta" value="0x8d12a197cb00d4747a1fe03395095ce2a5cc6819" />
    <add key="AbiFile" value="../contracts/etherdelta.json" />
    <add key="TokenFile" value="../contracts/token.json" />
    <add key="Token" value="0xc7d150214856f42fb6d4111f7c88fb4456313b8a" />
    <add key="User" value="0x5062e033F57159c0Fb2461d98a40aB328a3e2422" />
    <add key="PrivateKey" value="29074dd7741110e1e26f759852d5ce40a8bddef1ae5b76fd7f48d26cb342fd07" />
    <add key="UnitDecimals" value="18" />
    <add key="GasPrice" value="1000000000" />
    <add key="GasLimit" value="250000" />
  </appSettings>
</configuration>
